nav {
  background: #5faeff;
}
.navbar-brand {
  img {
    width: 30px;
    margin-left: 20px;
  }
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  a {
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s;
  }

  a:hover {
    transform: scaleY(1.1);
  }
}
